<main class="page__main">
  <h2>Buscador de series</h2>
  <form method="GET" action="#">
    <input type="text" class="UserSearch js-user-search" placeholder="Escribe tu serie y click">
    <input type="button" class="button   js-button" value="SEARCH" id="buttonUser">
  </form>
  <p class="result  js-result"> </p>
  <!-- esto tiene q aparecer y desaparecer //HIDDEN   VER SI PONER form action # cambia algo-->
  <section class="shows__list  js-shows-list">
    <ul class="shows-listfav  js-shows-listFav"> Favoritos
    <p class= "series  js-series" ></p>
    </ul>
  </section>

</main>