<main class="page__main">
  <h2>Buscador de series</h2>
  <form method="GET">
    <input type="text" class="UserSearch js-user-search" placeholder="Escribe tu serie y click" autocomplete="off">
    <input type="button" class="button js-button" value="SEARCH" id="#reload">
  </form>
  <ul class="result  js-result"></ul>


  <!--   esto tiene q aparecer y desaparecer //HIDDEN  autocomplete off no hace na  -->
  <section class="shows__list  js-shows-list">
    <ul class="shows-listfav  js-shows-listFav"> Favoritos
      <p class="series  js-series"></p>
    </ul>
  </section>

</main>