<main class="page__main">
  <h2>Buscador de series</h2>
  <form action="#">
    <input type="text" class="UserSearch js-user-search" placeholder="Escribe tu serie y click">
    <input type="button" class="button   js-button" value="SEARCH">

  </form>

  <!-- esto tiene q aparecer y desaparecer //HIDDEN -->
  <section class="shows__list  js-shows-list">
    <ul class="shows-listfav  js-shows-listFav"> Favoritos
      <li>
        ---deberia estar hidden
      </li>
      <li>
        ---
      </li>
    </ul>
  </section>

</main>