// fonts
$font-main: 'Fredericka the Great';
$font-change: 'Open Sans', sans-serif;
$color-lett: white;
// colors
$colornormal: grey ;
$colorcard-select: rgb(238, 211, 216);

//background
$background-color: #b8b4ae;

