.page__footer {
  // position: fixed;
  
 
  padding-top: 1rem;
  justify-content: flex-end;
  margin-left: 5px ;
 
}


a {
  text-decoration: none;
  list-style-type: none;
  justify-content: flex-end;
  margin-left: 5px;
 
}