body {
  padding: 2rem;
  height: 100vh;
  // background-image: url('https://images-na.ssl-images-amazon.com/images/I/41a6sJrj7SL.jpg') ;
  font-family: $font-main;

  
}


// .shows-listfav{
//   visibility: hidden;
// }

.result {
  margin-top: 30px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: row-reverse;

}
.shows__list {
  margin-top: 30px;
  border-top: solid 1px;
  display: flex;
  flex-direction: column;
  
}