body {
  padding: 2rem;
  height: 100vh;
  // background-image: url('https://images-na.ssl-images-amazon.com/images/I/41a6sJrj7SL.jpg') ;
  font-family: $font-main;
   background-color: $background-color;
  
}


// .shows-listfav{
//   visibility: hidden;
// }

.result {
  width: -50%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;

}
.shows__list {
  margin-top: 30px;
  border-top: solid 1px;
  display: flex;
  flex-direction: column;
 
}

.changeColor { 
  background-color: $colorcard-select;
  border: solid 1px;
  font-family: $font-change;
  font-size:  2rem;
}


.image-js-replace {
  border-top: 10px;
  width: 210px;
  height: 300px;

}


.UserSearch {
 border:none;
 background-color: rgb(226, 225, 214);
}


